@import 'bulma/sass/utilities/_all';
@import 'bulma/sass/base/generic.sass';
@import 'bulma/sass/components/navbar.sass';

:host {
  display: flex;
  align-items: center;
}

// @Stencil scoped selectors doesn't work
::slotted(a) {
  color: #4a4a4a !important;
  display: block;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  position: relative;
  text-decoration: none;
}
